dealer-line-oa-ai-agent.json
{
  "name": "[Dealer] LINE OA — AI Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "subject:\"ได้รับการจองใหม่จาก DRIVEHUB\""
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        1552,
        640
      ],
      "id": "db9e7798-d207-4458-b5e9-d15bf06dfb12",
      "name": "GetNewBookingGmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "am9InvuBN9KvdHMJ",
          "name": "Buddy AI Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('config').first().json.dealer_group_uid_sheet_url }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "branch_aggregate_id",
              "lookupValue": "={{ $json.data.booking.branch_uuid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3472,
        352
      ],
      "id": "0517670f-450b-4358-929f-6f48ab70f722",
      "name": "get dealer group id",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "s8JO7sh6nOOGQufJ",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('config').first().json.graphql_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-access-token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query booking($id: Int) { booking(id: $id) { id uuid done dealership_uuid branch_uuid dealership { name } branch { name } booking_begin booking_end genre note customer { aggregate_id first_name last_name email phone_number } car { title license_plate } pickup_service_area { name } retrun_service_area { name } duration { days hours total_days } pricing { pickup_price return_price ot_price grace_price discount pricing_rate { date note price } grand_total } tax_invoice { full_name tax_id branch_number address postcode email } } }\",\n  \"variables\": {\n    \"id\": {{ $('extract booking id').item.json.booking_id }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2688,
        512
      ],
      "id": "8ace420d-3808-48f9-93eb-15e911d80546",
      "name": "get booking detail",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03491bbf-8bf2-4091-aa21-35aab6ad58e9",
              "name": "booking_id",
              "value": "={{ $('GetNewBookingGmail').item.json.Subject.match(/#(\\d+)/)[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        640
      ],
      "id": "2601cf09-8374-416f-ba94-40fc4af9b42a",
      "name": "extract booking id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Line-Retry-Key",
              "value": "={{ $('get booking detail').item.json.data.booking.uuid }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('get dealer group id').item.json.line_group_chat_id }}\",\n  \"messages\": [\n    {\n      \"type\": \"flex\",\n      \"altText\": \"{{ '🚗 การจองใหม่ #' + $('get booking detail').item.json.data.booking.id }}\",\n      \"contents\": {\n        \"type\": \"bubble\",\n        \"header\": {\n          \"type\": \"box\",\n          \"layout\": \"vertical\",\n          \"backgroundColor\": \"#1B6AE3\",\n          \"paddingAll\": \"16px\",\n          \"contents\": [\n            {\n              \"type\": \"box\",\n              \"layout\": \"horizontal\",\n              \"contents\": [\n                { \"type\": \"text\", \"text\": \"🚗 การจองใหม่!\", \"weight\": \"bold\", \"color\": \"#FFFFFF\", \"size\": \"md\", \"flex\": 3 },\n                { \"type\": \"text\", \"text\": \"{{ '#' + $('get booking detail').item.json.data.booking.id }}\", \"weight\": \"bold\", \"color\": \"#FFFFFF\", \"size\": \"md\", \"align\": \"end\", \"flex\": 2 }\n              ]\n            },\n            {\n              \"type\": \"text\",\n              \"text\": \"{{ ({'daily':'เช่ารถขับเอง','transfer':'มีคนขับ'})[$('get booking detail').item.json.data.booking.genre] || $('get booking detail').item.json.data.booking.genre }}\",\n              \"color\": \"#C5D8FF\",\n              \"size\": \"sm\",\n              \"margin\": \"xs\"\n            }\n          ]\n        },\n        \"body\": {\n          \"type\": \"box\",\n          \"layout\": \"vertical\",\n          \"spacing\": \"md\",\n          \"paddingAll\": \"16px\",\n          \"contents\": [\n            {\n              \"type\": \"box\",\n              \"layout\": \"vertical\",\n              \"spacing\": \"sm\",\n              \"contents\": [\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"📅 รับรถ\", \"color\": \"#888888\", \"size\": \"sm\", \"flex\": 2 },\n                    { \"type\": \"text\", \"text\": \"{{ new Date($('get booking detail').item.json.data.booking.booking_begin*1000).toLocaleString('th-TH',{timeZone:'Asia/Bangkok',calendar:'gregory',day:'numeric',month:'long',year:'numeric',hour:'2-digit',minute:'2-digit'}).replace(',','')+'น.' }}\", \"size\": \"sm\", \"flex\": 5, \"wrap\": true, \"weight\": \"bold\" }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"🏁 คืนรถ\", \"color\": \"#888888\", \"size\": \"sm\", \"flex\": 2 },\n                    { \"type\": \"text\", \"text\": \"{{ new Date($('get booking detail').item.json.data.booking.booking_end*1000).toLocaleString('th-TH',{timeZone:'Asia/Bangkok',calendar:'gregory',day:'numeric',month:'long',year:'numeric',hour:'2-digit',minute:'2-digit'}).replace(',','')+'น.' }}\", \"size\": \"sm\", \"flex\": 5, \"wrap\": true, \"weight\": \"bold\" }\n                  ]\n                },\n                { \"type\": \"text\", \"text\": \"{{ (()=>{ const d=$('get booking detail').item.json.data.booking.duration; const p=[]; if(d.days>0)p.push(d.days+' วัน'); if(d.hours>0)p.push(d.hours+' ชั่วโมง'); return 'รวม '+p.join(' '); })() }}\", \"color\": \"#888888\", \"size\": \"xs\" }\n              ]\n            },\n            { \"type\": \"separator\" },\n            {\n              \"type\": \"box\",\n              \"layout\": \"horizontal\",\n              \"contents\": [\n                { \"type\": \"text\", \"text\": \"📍 สถานที่\", \"color\": \"#888888\", \"size\": \"sm\", \"flex\": 2 },\n                { \"type\": \"text\", \"text\": {{ JSON.stringify($('get booking detail').item.json.data.booking.pickup_service_area.name) }}, \"size\": \"sm\", \"flex\": 5, \"wrap\": true, \"weight\": \"bold\" }\n              ]\n            },\n            { \"type\": \"separator\" },\n            {\n              \"type\": \"box\",\n              \"layout\": \"horizontal\",\n              \"contents\": [\n                { \"type\": \"text\", \"text\": \"🚘 รถ\", \"color\": \"#888888\", \"size\": \"sm\", \"flex\": 2 },\n                { \"type\": \"text\", \"text\": {{ JSON.stringify($('get booking detail').item.json.data.booking.car.title + ($('get booking detail').item.json.data.booking.car.license_plate ? '\\nทะเบียน: '+$('get booking detail').item.json.data.booking.car.license_plate : '')) }}, \"size\": \"sm\", \"flex\": 5, \"wrap\": true }\n              ]\n            },\n            { \"type\": \"separator\" },\n            {\n              \"type\": \"box\",\n              \"layout\": \"vertical\",\n              \"spacing\": \"xs\",\n              \"contents\": [\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"👤\", \"size\": \"sm\", \"flex\": 1 },\n                    { \"type\": \"text\", \"text\": {{ JSON.stringify($('get booking detail').item.json.data.booking.customer.first_name+' '+$('get booking detail').item.json.data.booking.customer.last_name) }}, \"size\": \"sm\", \"flex\": 6, \"wrap\": true, \"weight\": \"bold\" }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"📞\", \"size\": \"sm\", \"flex\": 1 },\n                    { \"type\": \"text\", \"text\": {{ JSON.stringify($('get booking detail').item.json.data.booking.customer.phone_number) }}, \"size\": \"sm\", \"flex\": 6 }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"✉️\", \"size\": \"sm\", \"flex\": 1 },\n                    { \"type\": \"text\", \"text\": {{ JSON.stringify($('get booking detail').item.json.data.booking.customer.email) }}, \"size\": \"sm\", \"flex\": 6, \"wrap\": true }\n                  ]\n                }\n              ]\n            },\n            { \"type\": \"separator\" },\n            {\n              \"type\": \"box\",\n              \"layout\": \"horizontal\",\n              \"contents\": [\n                { \"type\": \"text\", \"text\": \"หมายเหตุ\", \"color\": \"#888888\", \"size\": \"sm\", \"flex\": 2, \"wrap\": true },\n                { \"type\": \"text\", \"text\": {{ JSON.stringify($('get booking detail').item.json.data.booking.note || '-') }}, \"size\": \"sm\", \"flex\": 5, \"wrap\": true, \"color\": \"#1B6AE3\", \"maxLines\": 3 }\n              ]\n            },\n            { \"type\": \"separator\" },\n            {\n              \"type\": \"box\",\n              \"layout\": \"vertical\",\n              \"spacing\": \"xs\",\n              \"contents\": [\n                { \"type\": \"text\", \"text\": \"💳 ราคาหน้าเว็บไซต์\", \"weight\": \"bold\", \"size\": \"sm\", \"color\": \"#333333\" },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"margin\": \"xs\",\n                  \"contents\": [\n                    {\n                      \"type\": \"text\",\n                      \"text\": {{ JSON.stringify((()=>{ const p=$('get booking detail').item.json.data.booking.pricing; return p.pricing_rate.map(r=>{ const d=new Date(r.date*1000).toLocaleDateString('th-TH',{timeZone:'Asia/Bangkok',calendar:'gregory',day:'2-digit',month:'2-digit',year:'numeric'}); const note=r.note.trim(); const t=note.length>10?note.substring(0,15)+'...':note; return d+' ('+t+')'; }).join('\\n'); })()) }},\n                      \"size\": \"xs\", \"color\": \"#555555\", \"wrap\": true, \"flex\": 6\n                    },\n                    {\n                      \"type\": \"text\",\n                      \"text\": {{ JSON.stringify((()=>{ const p=$('get booking detail').item.json.data.booking.pricing; return p.pricing_rate.map(r=>'฿'+(r.price/100).toLocaleString('en-US')).join('\\n'); })()) }},\n                      \"size\": \"xs\", \"color\": \"#555555\", \"wrap\": true, \"flex\": 2, \"align\": \"end\"\n                    }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"ค่าล่วงเวลา\", \"color\": \"#888888\", \"size\": \"xs\", \"flex\": 4 },\n                    { \"type\": \"text\", \"text\": \"{{ '฿'+($('get booking detail').item.json.data.booking.pricing.grace_price/100).toLocaleString('en-US') }}\", \"size\": \"xs\", \"flex\": 3, \"align\": \"end\" }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"ค่าบริการนอกเวลาทำการ\", \"color\": \"#888888\", \"size\": \"xs\", \"flex\": 4 },\n                    { \"type\": \"text\", \"text\": \"{{ '฿'+($('get booking detail').item.json.data.booking.pricing.ot_price/100).toLocaleString('en-US') }}\", \"size\": \"xs\", \"flex\": 3, \"align\": \"end\" }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"ค่าบริการส่งรถ\", \"color\": \"#888888\", \"size\": \"xs\", \"flex\": 4 },\n                    { \"type\": \"text\", \"text\": \"{{ '฿'+($('get booking detail').item.json.data.booking.pricing.pickup_price/100).toLocaleString('en-US') }}\", \"size\": \"xs\", \"flex\": 3, \"align\": \"end\" }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"ค่าบริการรับรถ\", \"color\": \"#888888\", \"size\": \"xs\", \"flex\": 4 },\n                    { \"type\": \"text\", \"text\": \"{{ '฿'+($('get booking detail').item.json.data.booking.pricing.return_price/100).toLocaleString('en-US') }}\", \"size\": \"xs\", \"flex\": 3, \"align\": \"end\" }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"ส่วนลด\", \"color\": \"#888888\", \"size\": \"xs\", \"flex\": 4 },\n                    { \"type\": \"text\", \"text\": \"{{ $('get booking detail').item.json.data.booking.pricing.discount > 0 ? '-฿'+($('get booking detail').item.json.data.booking.pricing.discount/100).toLocaleString('en-US') : '-' }}\", \"size\": \"xs\", \"flex\": 3, \"align\": \"end\", \"color\": \"#CC3300\" }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"backgroundColor\": \"#EEF4FF\",\n                  \"paddingAll\": \"8px\",\n                  \"cornerRadius\": \"6px\",\n                  \"margin\": \"sm\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"💰 รวมทั้งสิ้น\", \"weight\": \"bold\", \"size\": \"sm\", \"flex\": 3 },\n                    { \"type\": \"text\", \"text\": \"{{ '฿'+($('get booking detail').item.json.data.booking.pricing.grand_total/100).toLocaleString('en-US') }}\", \"weight\": \"bold\", \"size\": \"sm\", \"color\": \"#1B6AE3\", \"flex\": 3, \"align\": \"end\" }\n                  ]\n                }\n              ]\n            }\n          ]\n        },\n        \"footer\": {\n          \"type\": \"box\",\n          \"layout\": \"vertical\",\n          \"paddingAll\": \"12px\",\n          \"spacing\": \"sm\",\n          \"contents\": [\n            {\n              \"type\": \"box\",\n              \"layout\": \"vertical\",\n              \"backgroundColor\": \"#1B6AE3\",\n              \"cornerRadius\": \"8px\",\n              \"paddingAll\": \"11px\",\n              \"action\": {\n                \"type\": \"uri\",\n                \"label\": \"ติดต่อลูกค้า\",\n                \"uri\": \"{{ 'tel:' + $('get booking detail').item.json.data.booking.customer.phone_number.replace(/[^0-9+]/g,'') }}\"\n              },\n              \"contents\": [\n                { \"type\": \"text\", \"text\": \"ติดต่อลูกค้า\", \"color\": \"#FFFFFF\", \"size\": \"md\", \"align\": \"center\" }\n              ]\n            },\n            {\n              \"type\": \"box\",\n              \"layout\": \"vertical\",\n              \"backgroundColor\": \"#FFFFFF\",\n              \"borderColor\": \"#1B6AE3\",\n              \"borderWidth\": \"1px\",\n              \"cornerRadius\": \"8px\",\n              \"paddingAll\": \"10px\",\n              \"action\": {\n                \"type\": \"uri\",\n                \"label\": \"ดูรายละเอียดการจอง\",\n                \"uri\": \"{{ $('config').first().json.manage_url + '/staff/bookings/' + $('get booking detail').item.json.data.booking.id }}\"\n              },\n              \"contents\": [\n                { \"type\": \"text\", \"text\": \"ดูรายละเอียดการจอง\", \"color\": \"#1B6AE3\", \"size\": \"md\", \"align\": \"center\" }\n              ]\n            }\n          ]\n        }\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4240,
        144
      ],
      "id": "d44312e3-5eaf-4ee5-afbb-ed12f08d68b0",
      "name": "push to dealer line",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "XMnV9lPJ7S0YerCT",
          "name": "Dealer LINE OA Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('config').first().json.graphql_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-access-token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"adminDoneBooking\",\n  \"variables\": {\n    \"uuid\": \"{{ $('get booking detail').item.json.data.booking.uuid }}\"\n  },\n  \"query\": \"mutation adminDoneBooking($uuid: String!) {\\n  adminDoneBooking(uuid: $uuid)\\n}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4688,
        128
      ],
      "id": "b3acb317-604c-44a3-82f5-1988b9cac8ea",
      "name": "post booking done",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4c14aee-9d49-400d-bc19-490171424802",
              "name": "graphql_url",
              "value": "={{ $('get env').all().find(r => r.json.name === 'DRIVEHUBV3_GRAPHQL_PATH').json.value }}",
              "type": "string"
            },
            {
              "id": "b230289c-85bb-44c1-827d-76172ff18ce1",
              "name": "manage_url",
              "value": "={{ $('get env').all().find(r => r.json.name === 'DRIVEHUB_MANAGE_URL').json.value }}",
              "type": "string"
            },
            {
              "id": "758813f6-6613-4e13-933a-711bca503c2f",
              "name": "slack_ops_channel",
              "value": "={{ $('get env').all().find(r => r.json.name === 'SLACK_OPS_CHANNEL').json.value }}",
              "type": "string"
            },
            {
              "id": "d12c8ff5-948d-4bbc-a480-9caff295810f",
              "name": "slack_error_channel",
              "value": "={{ $('get env').all().find(r => r.json.name === 'SLACK_ERROR_CHANNEL').json.value }}",
              "type": "string"
            },
            {
              "id": "2ea1e8f0-a658-44d1-9da1-83d8c5a5a3bb",
              "name": "dealer_group_uid_sheet_url",
              "value": "={{ $('get env').all().find(r => r.json.name === 'DEALER_GROUP_UID_SHEET_URL').json.value }}",
              "type": "string"
            },
            {
              "id": "ee42c164-fe14-4d99-9b1d-731a301c1379",
              "name": "n8n_base_url",
              "value": "={{ $('get env').all().find(r => r.json.name === 'N8N_BASE_URL').json.value }}",
              "type": "string"
            },
            {
              "id": "6fcbb066-f2c2-4f07-9feb-871c78e00ec4",
              "name": "get_admin_token_flow_id",
              "value": "={{ $('get env').all().find(r => r.json.name === 'GET_ADMIN_TOKEN_FLOW_ID').json.value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        496
      ],
      "id": "41807476-237f-4d4f-a7ed-b5eeaca93814",
      "name": "config",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "Terminate",
        "height": 80,
        "width": 150,
        "color": "#000000"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4688,
        32
      ],
      "typeVersion": 1,
      "id": "18b880e8-8d15-4cb6-a415-b001bf837152",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "cached_api_tokens",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "credential_name",
              "keyValue": "n8n"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2448,
        512
      ],
      "id": "e2cfd90c-8cfa-45a9-bcd7-cdb341e192cd",
      "name": "get cached token (booking)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "70075ecd-0b81-4d71-8f89-76e3b3d7183f",
              "leftValue": "={{ $json.errors == undefined && $json.data.booking != null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3232,
        368
      ],
      "id": "9099d8c3-bbb2-433f-85c6-ae90efc13fa8",
      "name": "booking detail ok?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0cabb407-cf3c-481d-9e2a-2c9f414d5d73",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 401,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "1c655d52-c923-4864-83f7-a3e3f9ceaf7a",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2976,
        528
      ],
      "id": "12fc0ed3-ea99-4977-a03f-2c7593c8efdb",
      "name": "booking 401?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $('config').first().json.get_admin_token_flow_id }}",
          "mode": "id",
          "cachedResultUrl": "/workflow/=%7B%7B%20$('config').first().json.get_admin_token_flow_id%20%7D%7D"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "_"
          ],
          "schema": [
            {
              "id": "_",
              "displayName": "_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3232,
        624
      ],
      "id": "ab5c57ab-7467-424d-a8b1-bb5ce4b04735",
      "name": "refresh token (booking)",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "543062e3-06eb-4a15-b9ec-d933c2fe0668",
              "name": "error.message",
              "value": "={{ $json.errors[0].message ?? 'GraphQL booking error' }}",
              "type": "string"
            },
            {
              "id": "4bab8733-c734-4c48-9d59-4f872728ea56",
              "name": "error.source_node",
              "value": "get booking detail",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4688,
        624
      ],
      "id": "3af55b2c-8878-4565-8309-50089f3c8b75",
      "name": "set error (booking)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "cached_api_tokens",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "credential_name",
              "keyValue": "n8n"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4464,
        128
      ],
      "id": "07355cc9-0edd-4b46-a354-99ea0b3f896a",
      "name": "get cached token (done)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0cabb407-cf3c-481d-9e2a-2c9f414d5d73",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 401,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "1c655d52-c923-4864-83f7-a3e3f9ceaf7a",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4912,
        144
      ],
      "id": "51f123ae-4297-4bef-ac41-2bb855a9ab74",
      "name": "booking done 401?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('config').first().json.get_admin_token_flow_id }}",
          "cachedResultName": "={{ $('config').first().json.get_admin_token_flow_id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "_"
          ],
          "schema": [
            {
              "id": "_",
              "displayName": "_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5152,
        128
      ],
      "id": "8cd742a8-f50d-48e9-b803-76c843161a11",
      "name": "refresh token (done)",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "078402a8-28c2-4a44-aea7-121d669b5c85",
              "leftValue": "={{ $json.line_group_chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3968,
        336
      ],
      "id": "5a14815d-5e31-4b5f-b297-1d5200997b61",
      "name": "group id found?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "021571ee-5643-43bb-b740-aa35942b8f02",
              "name": "error.message",
              "value": "ไม่พบ dealer group ใน Google Sheets",
              "type": "string"
            },
            {
              "id": "d95e0dc8-d6f7-481f-acbc-3af68ff50cd5",
              "name": "error.source_node",
              "value": "get dealer group id",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4688,
        336
      ],
      "id": "3759b5d9-8014-4188-aa6f-074a7002cbe2",
      "name": "set error (group id)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('config').first().json.slack_error_channel }}\",\n  \"attachments\": [\n    {\n      \"color\": \"#E53935\",\n      \"blocks\": [\n        {\n          \"type\": \"section\",\n          \"text\": {\n            \"type\": \"mrkdwn\",\n            \"text\": \":warning: *Dealer Notify — Error*\"\n          }\n        },\n        {\n          \"type\": \"section\",\n          \"fields\": [\n            { \"type\": \"mrkdwn\", \"text\": \"*Node ที่ fail:*\\n`{{ $json.error?.source_node ?? $prevNode.name }}`\" },\n            { \"type\": \"mrkdwn\", \"text\": \"*Booking ID:*\\n`{{ $('extract booking id').first().json.booking_id ?? 'N/A' }}`\" },\n            { \"type\": \"mrkdwn\", \"text\": \"*Execution ID:*\\n`{{ $execution.id }}`\" },\n            { \"type\": \"mrkdwn\", \"text\": \"*เวลา:*\\n{{ $now.setZone('Asia/Bangkok').toFormat('dd/MM/yyyy HH:mm') }}\" },\n            { \"type\": \"mrkdwn\", \"text\": \"*Dealer:*\\n{{ $('get booking detail').item?.json?.data?.booking?.dealership?.name ?? 'N/A' }}\\n`{{ $('get booking detail').item?.json?.data?.booking?.dealership_uuid ?? 'N/A' }}`\" },\n            { \"type\": \"mrkdwn\", \"text\": \"*Branch:*\\n{{ $('get booking detail').item?.json?.data?.booking?.branch?.name ?? 'N/A' }}\\n`{{ $('get booking detail').item?.json?.data?.booking?.branch_uuid ?? 'N/A' }}`\" }\n          ]\n        },\n        {\n          \"type\": \"section\",\n          \"text\": {\n            \"type\": \"mrkdwn\",\n            \"text\": \":x: *Error*\\n```{{ JSON.stringify($json.error?.message ?? $json.error ?? '(no message)').slice(1,-1) }}```\"\n          }\n        },\n        {\n          \"type\": \"actions\",\n          \"elements\": [\n            {\n              \"type\": \"button\",\n              \"text\": { \"type\": \"plain_text\", \"text\": \"ดู Execution ใน n8n\" },\n              \"url\": \"{{ $('config').first().json.n8n_base_url }}/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}\",\n              \"style\": \"danger\"\n            },\n            {\n              \"type\": \"button\",\n              \"text\": { \"type\": \"plain_text\", \"text\": \"เปิด Manage\" },\n              \"url\": \"{{ $('config').first().json.manage_url }}/admin/home\"\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5456,
        528
      ],
      "id": "27949ab2-e192-4017-9f0d-bc3c7552995d",
      "name": "slack error alert",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "z4ZygH5NmXS2HJjn",
          "name": "Slack Header Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "notification_retry_queues",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "booking_id": "={{ $('extract booking id').first().json.booking_id }}",
            "failed_node": "={{ $prevNode.name }}",
            "error_context": "={{ $json.error_context ?? $json.error?.message ?? 'N/A' }}",
            "execution_id": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "booking_id",
              "displayName": "booking_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "failed_node",
              "displayName": "failed_node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_context",
              "displayName": "error_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        5680,
        544
      ],
      "id": "82b34ce9-6105-4fea-a44e-b9140428e1e9",
      "name": "log error to table"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "70075ecd-0b81-4d71-8f89-76e3b3d7183f",
              "leftValue": "={{ $json.errors === undefined && $json.data.adminDoneBooking != null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4912,
        -16
      ],
      "id": "4c11cc86-0e8b-4e49-9ef4-e2146e571646",
      "name": "booking done ok?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "70075ecd-0b81-4d71-8f89-76e3b3d7183f",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3712,
        352
      ],
      "id": "47613fef-1e65-4264-826d-fc76c5b19ddf",
      "name": "sheet ok?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "543062e3-06eb-4a15-b9ec-d933c2fe0668",
              "name": "error.message",
              "value": "=เข้า Googlesheet ไม่ได้: {{ $json.error?.message ?? $json.error ?? '' }}",
              "type": "string"
            },
            {
              "id": "4bab8733-c734-4c48-9d59-4f872728ea56",
              "name": "error.source_node",
              "value": "get dealer group id",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4688,
        480
      ],
      "id": "723d6407-9030-41ab-a229-df85d4588d94",
      "name": "set error (sheet)"
    },
    {
      "parameters": {
        "content": "## 🚨 คู่มือทีม Ops — ทำยังไงเมื่อมีปัญหา\n\n### เคส 1: Server down (แจ้งใน channel dev)\n\n1. เห็นแจ้งเตือน \"n8n down\" → เข้าหลังบ้าน ดู booking ที่**ยังไม่มี Done**\n2. Copy booking detail ส่งเข้า LINE group ของ dealer เอง\n3. **ส่งเสร็จ 1 ใบ → กดปุ่ม Done ทันที 1 ใบ** (ห้ามรวบไปกดทีหลัง!)\n4. ทำวนไปจนกว่า server จะกลับมา\n\n### เคส 2: Server กลับมา (bot แจ้งใน channel ops)\n\nBot จะสรุปให้ว่ามี booking ค้างกี่ใบ เลขอะไรบ้าง\n\n1. อ่านข้อความ: **operation ส่งทั้งหมดถึงเลขที่ bot ระบุ** เป็นตัวสุดท้าย\n2. Booking ใหม่หลังจากเลขนั้น → bot ส่งเอง\n3. ส่งครบแล้วไล่เช็กกับรายการในข้อความอีกรอบว่าไม่ตกหล่น\n4. อย่าลืมกด Done ทุกใบที่ส่ง\n\n### เคส 3: Error รายใบ (แจ้งใน channel error)\n\nข้อความจะบอก booking ID + node ที่พัง\n\n1. เช็กใน LINE group ว่า booking นั้นถูกส่งไปแล้วหรือยัง\n2. ยังไม่ถูกส่ง → ส่ง manual + กด Done\n3. ส่งแล้วแต่ error ตอน mark done → กด Done ในหลังบ้านอย่างเดียวพอ\n4. แจ้งทีม dev\n\n**Note:** error log table = fallback เมื่อ Slack พังเท่านั้น\n\n---\n💡 กฎเหล็กข้อเดียว: **ส่งแล้วต้องกด Done ทันที** — bot ใช้สถานะนี้ตัดสินใจว่าจะส่งซ้ำหรือไม่",
        "height": 800,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        -368
      ],
      "typeVersion": 1,
      "id": "83155443-01e6-462b-b81f-ae573837916c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0069412d-3397-445c-a768-0d92a48f20dd",
              "name": "max_id",
              "value": "={{ Math.max(...$('extract booking id').all().map(i => Number(i.json.booking_id))) }}",
              "type": "number"
            },
            {
              "id": "c930d5f3-7090-43d4-b54d-1321230e8f50",
              "name": "oldest_age_min",
              "value": "={{ Math.round((Date.now() - Math.min(...$('GetNewBookingGmail').all().map(i => i.json.internalDate ? Number(i.json.internalDate) : new Date(i.json.date).getTime()))) / 60000) }}",
              "type": "number"
            },
            {
              "id": "e156f744-1445-4f3f-90ad-a29ae974719c",
              "name": "is_backlog",
              "value": "={{ $('GetNewBookingGmail').all().length > 1 && (Date.now() - Math.min(...$('GetNewBookingGmail').all().map(i => i.json.internalDate ? Number(i.json.internalDate) : new Date(i.json.date).getTime()))) / 60000 > Number($('config').first().json.backlog_threshold_min) }}",
              "type": "boolean"
            },
            {
              "id": "74aa6aeb-6b16-4671-a359-451f5c9641d6",
              "name": "backlog_ids",
              "value": "={{ $('extract booking id').all().map(i => Number(i.json.booking_id)).sort((a,b) => a-b).map(v => '#'+v).join(', ') }}",
              "type": "string"
            },
            {
              "id": "01004401-9ec5-44dd-9a95-05c88e1ab99b",
              "name": "item_count",
              "value": "={{ $('GetNewBookingGmail').all().length }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        224
      ],
      "id": "5e367f49-d314-4f32-9753-8dfb46599639",
      "name": "backlog flags"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "49af8e27-f052-4a00-b10e-a5dce0b6dd19",
              "leftValue": "={{ $json.is_backlog }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2128,
        224
      ],
      "id": "36cee3c1-5e11-4885-adc1-c532b6a863f3",
      "name": "backlog mode?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('config').first().json.slack_ops_channel }}\",\n  \"text\": \"🟢 n8n กลับมาทำงานแล้ว — มี booking ค้าง {{ $json.item_count }} รายการ\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": { \"type\": \"plain_text\", \"text\": \"🟢 n8n กลับมาทำงานแล้ว\", \"emoji\": true }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": { \"type\": \"mrkdwn\", \"text\": \"🙏 ส่ง manual ทั้งหมด *ถึง #{{ $json.max_id }}* เป็นตัวสุดท้าย (+ กด *Done* ในหลังบ้านทุกตัวที่ส่ง)\\n🤖 Booking ใหม่หลัง #{{ $json.max_id }} bot จะส่งเองตามปกติ\" }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2368,
        208
      ],
      "id": "4c9682e9-6e7b-4b4e-9c87-f1bb5f011e58",
      "name": "slack backlog alert",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "executeOnce": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "z4ZygH5NmXS2HJjn",
          "name": "Slack Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0cabb407-cf3c-481d-9e2a-2c9f414d5d73",
              "leftValue": "={{ $json.data.booking.done }}",
              "rightValue": 401,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2976,
        352
      ],
      "id": "bb2b2ad6-36c6-4935-b29c-cdd2255265a6",
      "name": "booking done?"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "environment_variables",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1792,
        496
      ],
      "id": "bf600705-c5c8-4e21-8354-bb344107b278",
      "name": "get env",
      "executeOnce": true
    }
  ],
  "pinData": {
    "GetNewBookingGmail": [
      {
        "json": {
          "id": "19f5f54cd3516a5b",
          "threadId": "19f5f54cd3516a5b",
          "snippet": "คุณได้รับการจองใหม่ ตรวจสอบสถานะ หมายเลขการจอง 3684714 สถานะการจอง รายละเอียดการจอง ข้อมูลผู้เช่ารถ ฐิติมาหวิงหยี่ ซิว +66828819813 thitimasrisaeng@gmail.com ข้อมูลบริษัทรถเช่า C00327 Flukie Car Rental",
          "payload": {
            "mimeType": "text/html"
          },
          "sizeEstimate": 127800,
          "historyId": "44868",
          "internalDate": "1784010819000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Drivehub <no-reply@transaction.drivehub.co>",
          "Subject": "[Drivehub] #3684714- ท่านได้รับการจองใหม่จาก DRIVEHUB",
          "To": "Natnararat.1977@gmail.com"
        }
      }
    ]
  },
  "connections": {
    "GetNewBookingGmail": {
      "main": [
        [
          {
            "node": "get env",
            "type": "main",
            "index": 0
          },
          {
            "node": "extract booking id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get dealer group id": {
      "main": [
        [
          {
            "node": "sheet ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get booking detail": {
      "main": [
        [
          {
            "node": "booking done?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "booking 401?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract booking id": {
      "main": [
        [
          {
            "node": "get cached token (booking)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push to dealer line": {
      "main": [
        [
          {
            "node": "get cached token (done)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post booking done": {
      "main": [
        [
          {
            "node": "booking done ok?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "booking done 401?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get cached token (booking)": {
      "main": [
        [
          {
            "node": "get booking detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "booking detail ok?": {
      "main": [
        [
          {
            "node": "get dealer group id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set error (booking)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "booking 401?": {
      "main": [
        [
          {
            "node": "refresh token (booking)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "refresh token (booking)": {
      "main": [
        [
          {
            "node": "get cached token (booking)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set error (booking)": {
      "main": [
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get cached token (done)": {
      "main": [
        []
      ]
    },
    "booking done 401?": {
      "main": [
        [
          {
            "node": "refresh token (done)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "refresh token (done)": {
      "main": [
        [
          {
            "node": "get cached token (done)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "group id found?": {
      "main": [
        [
          {
            "node": "push to dealer line",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set error (group id)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set error (group id)": {
      "main": [
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "slack error alert": {
      "main": [
        [],
        [
          {
            "node": "log error to table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "booking done ok?": {
      "main": [
        [],
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sheet ok?": {
      "main": [
        [
          {
            "node": "group id found?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set error (sheet)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set error (sheet)": {
      "main": [
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "backlog flags": {
      "main": [
        [
          {
            "node": "backlog mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "backlog mode?": {
      "main": [
        [
          {
            "node": "slack backlog alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "booking done?": {
      "main": [
        [],
        [
          {
            "node": "booking detail ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get env": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9dbf8c89-4eb1-417c-8a94-4d3a776495b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d67d3eefb5bd288203ef7c609af3e9c261c718d0eaa49b38b25881cbd380cfa4"
  },
  "nodeGroups": [],
  "id": "kJ8WLrGUYt8Lwf8S",
  "tags": []
}