dealer-line-oa-ai-agent.json
{
  "name": "[Dealer] LINE OA — AI Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "subject:\"ได้รับการจองใหม่จาก DRIVEHUB\""
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        4528,
        2320
      ],
      "id": "b472b123-b4ff-4d94-bf08-f86232237ce0",
      "name": "GetNewBookingGmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "wqlOQpAtr6EAUg84",
          "name": "Buddy AI Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('config').first().json.dealer_group_uid_sheet_url }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "branch_aggregate_id",
              "lookupValue": "={{ $json.data.booking.branch_uuid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        6448,
        2032
      ],
      "id": "3dd6ae76-5a70-4745-9ccb-17b510e34e9f",
      "name": "get dealer group id",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Z58mnLNDfs33OTR",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('config').first().json.graphql_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-access-token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query booking($id: Int) { booking(id: $id) { id uuid done dealership_uuid branch_uuid dealership { name } branch { name } booking_begin booking_end genre category note customer { aggregate_id first_name last_name email phone_number } car { title license_plate } pickup_service_area { name } retrun_service_area { name } duration { days hours total_days } pricing { pickup_price return_price ot_price grace_price discount pricing_rate { date note price } grand_total } tax_invoice { full_name tax_id branch_number address postcode email } } }\",\n  \"variables\": {\n    \"id\": {{ $('extract booking id').item.json.booking_id }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5664,
        2192
      ],
      "id": "2d6bad54-5e7a-40a8-b70d-96070cb52792",
      "name": "get booking detail",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03491bbf-8bf2-4091-aa21-35aab6ad58e9",
              "name": "booking_id",
              "value": "={{ $('GetNewBookingGmail').item.json.Subject.match(/#(\\d+)/)[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5152,
        2320
      ],
      "id": "fad327ba-8722-4b24-a3ee-bcf5f2758346",
      "name": "extract booking id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Line-Retry-Key",
              "value": "={{ $('get booking detail').item.json.data.booking.uuid }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('get dealer group id').item.json.line_group_chat_id }}\",\n  \"messages\": [\n    {\n      \"type\": \"flex\",\n      \"altText\": \"{{ '🚗 การจองใหม่ #' + $('get booking detail').item.json.data.booking.id }}\",\n      \"contents\": {\n        \"type\": \"bubble\",\n        \"header\": {\n          \"type\": \"box\",\n          \"layout\": \"vertical\",\n          \"backgroundColor\": \"#1B6AE3\",\n          \"paddingAll\": \"16px\",\n          \"contents\": [\n            {\n              \"type\": \"box\",\n              \"layout\": \"horizontal\",\n              \"contents\": [\n                { \"type\": \"text\", \"text\": \"🚗 การจองใหม่!\", \"weight\": \"bold\", \"color\": \"#FFFFFF\", \"size\": \"md\", \"flex\": 3 },\n                { \"type\": \"text\", \"text\": \"{{ '#' + $('get booking detail').item.json.data.booking.id }}\", \"weight\": \"bold\", \"color\": \"#FFFFFF\", \"size\": \"md\", \"align\": \"end\", \"flex\": 2 }\n              ]\n            },\n            {\n              \"type\": \"text\",\n              \"text\": \"{{ ({'sd':'เช่ารถขับเอง','cwd':'เช่ารถพร้อมคนขับ'})[$('get booking detail').item.json.data.booking.category] || 'เช่ารถขับเอง' }}\",\n              \"color\": \"#C5D8FF\",\n              \"size\": \"sm\",\n              \"margin\": \"xs\"\n            }\n          ]\n        },\n        \"body\": {\n          \"type\": \"box\",\n          \"layout\": \"vertical\",\n          \"spacing\": \"md\",\n          \"paddingAll\": \"16px\",\n          \"contents\": [\n            {\n              \"type\": \"box\",\n              \"layout\": \"vertical\",\n              \"spacing\": \"sm\",\n              \"contents\": [\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"📅 รับรถ\", \"color\": \"#888888\", \"size\": \"sm\", \"flex\": 2 },\n                    { \"type\": \"text\", \"text\": \"{{ new Date($('get booking detail').item.json.data.booking.booking_begin*1000).toLocaleString('th-TH',{timeZone:'Asia/Bangkok',calendar:'gregory',day:'numeric',month:'long',year:'numeric',hour:'2-digit',minute:'2-digit'}).replace(',','')+'น.' }}\", \"size\": \"sm\", \"flex\": 5, \"wrap\": true, \"weight\": \"bold\" }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"🏁 คืนรถ\", \"color\": \"#888888\", \"size\": \"sm\", \"flex\": 2 },\n                    { \"type\": \"text\", \"text\": \"{{ new Date($('get booking detail').item.json.data.booking.booking_end*1000).toLocaleString('th-TH',{timeZone:'Asia/Bangkok',calendar:'gregory',day:'numeric',month:'long',year:'numeric',hour:'2-digit',minute:'2-digit'}).replace(',','')+'น.' }}\", \"size\": \"sm\", \"flex\": 5, \"wrap\": true, \"weight\": \"bold\" }\n                  ]\n                },\n                { \"type\": \"text\", \"text\": \"{{ (()=>{ const d=$('get booking detail').item.json.data.booking.duration; const p=[]; if(d.days>0)p.push(d.days+' วัน'); if(d.hours>0)p.push(d.hours+' ชั่วโมง'); return 'รวม '+p.join(' '); })() }}\", \"color\": \"#888888\", \"size\": \"xs\" }\n              ]\n            },\n            { \"type\": \"separator\" },\n            {\n              \"type\": \"box\",\n              \"layout\": \"horizontal\",\n              \"contents\": [\n                { \"type\": \"text\", \"text\": \"📍 สถานที่\", \"color\": \"#888888\", \"size\": \"sm\", \"flex\": 2 },\n                { \"type\": \"text\", \"text\": {{ JSON.stringify($('get booking detail').item.json.data.booking.pickup_service_area.name) }}, \"size\": \"sm\", \"flex\": 5, \"wrap\": true, \"weight\": \"bold\" }\n              ]\n            },\n            { \"type\": \"separator\" },\n            {\n              \"type\": \"box\",\n              \"layout\": \"horizontal\",\n              \"contents\": [\n                { \"type\": \"text\", \"text\": \"🚘 รถ\", \"color\": \"#888888\", \"size\": \"sm\", \"flex\": 2 },\n                { \"type\": \"text\", \"text\": {{ JSON.stringify($('get booking detail').item.json.data.booking.car.title + ($('get booking detail').item.json.data.booking.car.license_plate ? '\\nทะเบียน: '+$('get booking detail').item.json.data.booking.car.license_plate : '')) }}, \"size\": \"sm\", \"flex\": 5, \"wrap\": true }\n              ]\n            },\n            { \"type\": \"separator\" },\n            {\n              \"type\": \"box\",\n              \"layout\": \"vertical\",\n              \"spacing\": \"xs\",\n              \"contents\": [\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"👤\", \"size\": \"sm\", \"flex\": 1 },\n                    { \"type\": \"text\", \"text\": {{ JSON.stringify($('get booking detail').item.json.data.booking.customer.first_name+' '+$('get booking detail').item.json.data.booking.customer.last_name) }}, \"size\": \"sm\", \"flex\": 6, \"wrap\": true, \"weight\": \"bold\" }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"📞\", \"size\": \"sm\", \"flex\": 1 },\n                    { \"type\": \"text\", \"text\": {{ JSON.stringify($('get booking detail').item.json.data.booking.customer.phone_number) }}, \"size\": \"sm\", \"flex\": 6 }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"✉️\", \"size\": \"sm\", \"flex\": 1 },\n                    { \"type\": \"text\", \"text\": {{ JSON.stringify($('get booking detail').item.json.data.booking.customer.email) }}, \"size\": \"sm\", \"flex\": 6, \"wrap\": true }\n                  ]\n                }\n              ]\n            },\n            { \"type\": \"separator\" },\n            {\n              \"type\": \"box\",\n              \"layout\": \"horizontal\",\n              \"contents\": [\n                { \"type\": \"text\", \"text\": \"หมายเหตุ\", \"color\": \"#888888\", \"size\": \"sm\", \"flex\": 2, \"wrap\": true },\n                { \"type\": \"text\", \"text\": {{ JSON.stringify($('get booking detail').item.json.data.booking.note || '-') }}, \"size\": \"sm\", \"flex\": 5, \"wrap\": true, \"color\": \"#1B6AE3\", \"maxLines\": 3 }\n              ]\n            },\n            { \"type\": \"separator\" },\n            {\n              \"type\": \"box\",\n              \"layout\": \"vertical\",\n              \"spacing\": \"xs\",\n              \"contents\": [\n                { \"type\": \"text\", \"text\": \"💳 ราคาหน้าเว็บไซต์\", \"weight\": \"bold\", \"size\": \"sm\", \"color\": \"#333333\" },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"margin\": \"xs\",\n                  \"contents\": [\n                    {\n                      \"type\": \"text\",\n                      \"text\": {{ JSON.stringify((()=>{ const p=$('get booking detail').item.json.data.booking.pricing; return p.pricing_rate.map(r=>{ const d=new Date(r.date*1000).toLocaleDateString('th-TH',{timeZone:'Asia/Bangkok',calendar:'gregory',day:'2-digit',month:'2-digit',year:'numeric'}); const note=r.note.trim(); const t=note.length>10?note.substring(0,15)+'...':note; return d+' ('+t+')'; }).join('\\n'); })()) }},\n                      \"size\": \"xs\", \"color\": \"#555555\", \"wrap\": true, \"flex\": 6\n                    },\n                    {\n                      \"type\": \"text\",\n                      \"text\": {{ JSON.stringify((()=>{ const p=$('get booking detail').item.json.data.booking.pricing; return p.pricing_rate.map(r=>'฿'+(r.price/100).toLocaleString('en-US')).join('\\n'); })()) }},\n                      \"size\": \"xs\", \"color\": \"#555555\", \"wrap\": true, \"flex\": 2, \"align\": \"end\"\n                    }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"ค่าล่วงเวลา\", \"color\": \"#888888\", \"size\": \"xs\", \"flex\": 4 },\n                    { \"type\": \"text\", \"text\": \"{{ '฿'+($('get booking detail').item.json.data.booking.pricing.grace_price/100).toLocaleString('en-US') }}\", \"size\": \"xs\", \"flex\": 3, \"align\": \"end\" }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"ค่าบริการนอกเวลาทำการ\", \"color\": \"#888888\", \"size\": \"xs\", \"flex\": 4 },\n                    { \"type\": \"text\", \"text\": \"{{ '฿'+($('get booking detail').item.json.data.booking.pricing.ot_price/100).toLocaleString('en-US') }}\", \"size\": \"xs\", \"flex\": 3, \"align\": \"end\" }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"ค่าบริการส่งรถ\", \"color\": \"#888888\", \"size\": \"xs\", \"flex\": 4 },\n                    { \"type\": \"text\", \"text\": \"{{ '฿'+($('get booking detail').item.json.data.booking.pricing.pickup_price/100).toLocaleString('en-US') }}\", \"size\": \"xs\", \"flex\": 3, \"align\": \"end\" }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"ค่าบริการรับรถ\", \"color\": \"#888888\", \"size\": \"xs\", \"flex\": 4 },\n                    { \"type\": \"text\", \"text\": \"{{ '฿'+($('get booking detail').item.json.data.booking.pricing.return_price/100).toLocaleString('en-US') }}\", \"size\": \"xs\", \"flex\": 3, \"align\": \"end\" }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"ส่วนลด\", \"color\": \"#888888\", \"size\": \"xs\", \"flex\": 4 },\n                    { \"type\": \"text\", \"text\": \"{{ $('get booking detail').item.json.data.booking.pricing.discount > 0 ? '-฿'+($('get booking detail').item.json.data.booking.pricing.discount/100).toLocaleString('en-US') : '-' }}\", \"size\": \"xs\", \"flex\": 3, \"align\": \"end\", \"color\": \"#CC3300\" }\n                  ]\n                },\n                {\n                  \"type\": \"box\",\n                  \"layout\": \"horizontal\",\n                  \"backgroundColor\": \"#EEF4FF\",\n                  \"paddingAll\": \"8px\",\n                  \"cornerRadius\": \"6px\",\n                  \"margin\": \"sm\",\n                  \"contents\": [\n                    { \"type\": \"text\", \"text\": \"💰 รวมทั้งสิ้น\", \"weight\": \"bold\", \"size\": \"sm\", \"flex\": 3 },\n                    { \"type\": \"text\", \"text\": \"{{ '฿'+($('get booking detail').item.json.data.booking.pricing.grand_total/100).toLocaleString('en-US') }}\", \"weight\": \"bold\", \"size\": \"sm\", \"color\": \"#1B6AE3\", \"flex\": 3, \"align\": \"end\" }\n                  ]\n                }\n              ]\n            }\n          ]\n        },\n        \"footer\": {\n          \"type\": \"box\",\n          \"layout\": \"vertical\",\n          \"paddingAll\": \"12px\",\n          \"spacing\": \"sm\",\n          \"contents\": [\n            {\n              \"type\": \"box\",\n              \"layout\": \"vertical\",\n              \"backgroundColor\": \"#1B6AE3\",\n              \"cornerRadius\": \"8px\",\n              \"paddingAll\": \"11px\",\n              \"action\": {\n                \"type\": \"uri\",\n                \"label\": \"ติดต่อลูกค้า\",\n                \"uri\": \"{{ 'tel:' + $('get booking detail').item.json.data.booking.customer.phone_number.replace(/[^0-9+]/g,'') }}\"\n              },\n              \"contents\": [\n                { \"type\": \"text\", \"text\": \"ติดต่อลูกค้า\", \"color\": \"#FFFFFF\", \"size\": \"md\", \"align\": \"center\" }\n              ]\n            },\n            {\n              \"type\": \"box\",\n              \"layout\": \"vertical\",\n              \"backgroundColor\": \"#FFFFFF\",\n              \"borderColor\": \"#1B6AE3\",\n              \"borderWidth\": \"1px\",\n              \"cornerRadius\": \"8px\",\n              \"paddingAll\": \"10px\",\n              \"action\": {\n                \"type\": \"uri\",\n                \"label\": \"ดูรายละเอียดการจอง\",\n                \"uri\": \"{{ $('config').first().json.manage_url + '/staff/bookings/' + $('get booking detail').item.json.data.booking.id }}\"\n              },\n              \"contents\": [\n                { \"type\": \"text\", \"text\": \"ดูรายละเอียดการจอง\", \"color\": \"#1B6AE3\", \"size\": \"md\", \"align\": \"center\" }\n              ]\n            }\n          ]\n        }\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7216,
        1824
      ],
      "id": "b0f93f7f-d997-4ea2-8415-b92b16587c06",
      "name": "push to dealer line",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpBearerAuth": {
          "id": "wnEM9E2aVqJcfDpe",
          "name": "Dealer LINE OA Auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('config').first().json.graphql_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-access-token",
              "value": "={{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"adminDoneBooking\",\n  \"variables\": {\n    \"uuid\": \"{{ $('get booking detail').item.json.data.booking.uuid }}\"\n  },\n  \"query\": \"mutation adminDoneBooking($uuid: String!) {\\n  adminDoneBooking(uuid: $uuid)\\n}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        7664,
        1808
      ],
      "id": "498c3e0f-53c8-4c3d-a9c7-081447130d36",
      "name": "post booking done",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4c14aee-9d49-400d-bc19-490171424802",
              "name": "graphql_url",
              "value": "={{ $('get env').all().find(r => r.json.name === 'DRIVEHUBV3_GRAPHQL_PATH').json.value }}",
              "type": "string"
            },
            {
              "id": "b230289c-85bb-44c1-827d-76172ff18ce1",
              "name": "manage_url",
              "value": "={{ $('get env').all().find(r => r.json.name === 'DRIVEHUB_MANAGE_URL').json.value }}",
              "type": "string"
            },
            {
              "id": "758813f6-6613-4e13-933a-711bca503c2f",
              "name": "slack_ops_channel",
              "value": "={{ $('get env').all().find(r => r.json.name === 'SLACK_OPS_CHANNEL').json.value }}",
              "type": "string"
            },
            {
              "id": "d12c8ff5-948d-4bbc-a480-9caff295810f",
              "name": "slack_error_channel",
              "value": "={{ $('get env').all().find(r => r.json.name === 'SLACK_ERROR_CHANNEL').json.value }}",
              "type": "string"
            },
            {
              "id": "2ea1e8f0-a658-44d1-9da1-83d8c5a5a3bb",
              "name": "dealer_group_uid_sheet_url",
              "value": "={{ $('get env').all().find(r => r.json.name === 'DEALER_GROUP_UID_SHEET_URL').json.value }}",
              "type": "string"
            },
            {
              "id": "ee42c164-fe14-4d99-9b1d-731a301c1379",
              "name": "n8n_base_url",
              "value": "={{ $('get env').all().find(r => r.json.name === 'N8N_BASE_URL').json.value }}",
              "type": "string"
            },
            {
              "id": "6fcbb066-f2c2-4f07-9feb-871c78e00ec4",
              "name": "get_admin_token_flow_id",
              "value": "={{ $('get env').all().find(r => r.json.name === 'GET_ADMIN_TOKEN_FLOW_ID').json.value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4976,
        2176
      ],
      "id": "c4df3ac2-e65c-41b8-8e51-4c89c781a6aa",
      "name": "config",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "Terminate",
        "height": 80,
        "width": 150,
        "color": "#000000"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7664,
        1712
      ],
      "typeVersion": 1,
      "id": "125a22ed-cbe3-49b5-bdb7-1aeb566dfb45",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "cached_api_tokens",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "credential_name",
              "keyValue": "n8n"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        5424,
        2192
      ],
      "id": "6fb7e1c0-0279-4b0c-ac81-cc52177be172",
      "name": "get cached token (booking)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "70075ecd-0b81-4d71-8f89-76e3b3d7183f",
              "leftValue": "={{ $json.errors == undefined && $json.data.booking != null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6208,
        2048
      ],
      "id": "e833db36-406b-4449-8f96-10f8a3e21012",
      "name": "booking detail ok?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0cabb407-cf3c-481d-9e2a-2c9f414d5d73",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 401,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "1c655d52-c923-4864-83f7-a3e3f9ceaf7a",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5952,
        2208
      ],
      "id": "ff82aeda-07ab-4224-8f4d-e493260c76a4",
      "name": "booking 401?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $('config').first().json.get_admin_token_flow_id }}",
          "mode": "id",
          "cachedResultUrl": "/workflow/=%7B%7B%20$('config').first().json.get_admin_token_flow_id%20%7D%7D"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "_"
          ],
          "schema": [
            {
              "id": "_",
              "displayName": "_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        6208,
        2304
      ],
      "id": "f8d5b155-a8d9-4117-b2f7-34abc21a3b15",
      "name": "refresh token (booking)",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "543062e3-06eb-4a15-b9ec-d933c2fe0668",
              "name": "error.message",
              "value": "={{ $json.errors[0].message ?? 'GraphQL booking error' }}",
              "type": "string"
            },
            {
              "id": "4bab8733-c734-4c48-9d59-4f872728ea56",
              "name": "error.source_node",
              "value": "get booking detail",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7664,
        2304
      ],
      "id": "a1a27d91-2bea-4131-ad0e-8309cfe5adfe",
      "name": "set error (booking)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "cached_api_tokens",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "credential_name",
              "keyValue": "n8n"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        7440,
        1808
      ],
      "id": "3fe5d12a-ad3a-4623-9f1c-7645ac146c4b",
      "name": "get cached token (done)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0cabb407-cf3c-481d-9e2a-2c9f414d5d73",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 401,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "1c655d52-c923-4864-83f7-a3e3f9ceaf7a",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7888,
        1824
      ],
      "id": "9809b65a-9203-4c1a-8498-4a0cb306232f",
      "name": "booking done 401?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('config').first().json.get_admin_token_flow_id }}",
          "cachedResultName": "={{ $('config').first().json.get_admin_token_flow_id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "_"
          ],
          "schema": [
            {
              "id": "_",
              "displayName": "_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        8128,
        1808
      ],
      "id": "75a25b29-8f32-4780-9838-dc2cb5629281",
      "name": "refresh token (done)",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "078402a8-28c2-4a44-aea7-121d669b5c85",
              "leftValue": "={{ $json.line_group_chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6944,
        2016
      ],
      "id": "9b9075b3-8018-4fc8-9192-aba9423b1a79",
      "name": "group id found?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "021571ee-5643-43bb-b740-aa35942b8f02",
              "name": "error.message",
              "value": "ไม่พบ dealer group ใน Google Sheets",
              "type": "string"
            },
            {
              "id": "d95e0dc8-d6f7-481f-acbc-3af68ff50cd5",
              "name": "error.source_node",
              "value": "get dealer group id",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7664,
        2016
      ],
      "id": "082a737e-e070-40db-916d-93d248997239",
      "name": "set error (group id)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('config').first().json.slack_error_channel }}\",\n  \"attachments\": [\n    {\n      \"color\": \"#E53935\",\n      \"blocks\": [\n        {\n          \"type\": \"section\",\n          \"text\": {\n            \"type\": \"mrkdwn\",\n            \"text\": \":warning: *Dealer Notify — Error*\"\n          }\n        },\n        {\n          \"type\": \"section\",\n          \"fields\": [\n            { \"type\": \"mrkdwn\", \"text\": \"*Node ที่ fail:*\\n`{{ $json.error?.source_node ?? $prevNode.name }}`\" },\n            { \"type\": \"mrkdwn\", \"text\": \"*Booking ID:*\\n`{{ $('extract booking id').first().json.booking_id ?? 'N/A' }}`\" },\n            { \"type\": \"mrkdwn\", \"text\": \"*Execution ID:*\\n`{{ $execution.id }}`\" },\n            { \"type\": \"mrkdwn\", \"text\": \"*เวลา:*\\n{{ $now.setZone('Asia/Bangkok').toFormat('dd/MM/yyyy HH:mm') }}\" },\n            { \"type\": \"mrkdwn\", \"text\": \"*Dealer:*\\n{{ $('get booking detail').item?.json?.data?.booking?.dealership?.name ?? 'N/A' }}\\n`{{ $('get booking detail').item?.json?.data?.booking?.dealership_uuid ?? 'N/A' }}`\" },\n            { \"type\": \"mrkdwn\", \"text\": \"*Branch:*\\n{{ $('get booking detail').item?.json?.data?.booking?.branch?.name ?? 'N/A' }}\\n`{{ $('get booking detail').item?.json?.data?.booking?.branch_uuid ?? 'N/A' }}`\" }\n          ]\n        },\n        {\n          \"type\": \"section\",\n          \"text\": {\n            \"type\": \"mrkdwn\",\n            \"text\": \":x: *Error*\\n```{{ JSON.stringify($json.error?.message ?? $json.error ?? '(no message)').slice(1,-1) }}```\"\n          }\n        },\n        {\n          \"type\": \"actions\",\n          \"elements\": [\n            {\n              \"type\": \"button\",\n              \"text\": { \"type\": \"plain_text\", \"text\": \"ดู Execution ใน n8n\" },\n              \"url\": \"{{ $('config').first().json.n8n_base_url }}/workflow/{{ $workflow.id }}/executions/{{ $execution.id }}\",\n              \"style\": \"danger\"\n            },\n            {\n              \"type\": \"button\",\n              \"text\": { \"type\": \"plain_text\", \"text\": \"เปิด Manage\" },\n              \"url\": \"{{ $('config').first().json.manage_url }}/admin/home\"\n            }\n          ]\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        8432,
        2208
      ],
      "id": "59c7c79e-aa0c-4484-a41f-986bc592799f",
      "name": "slack error alert",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "77Yr93Km4SFaBpex",
          "name": "Uptime Kuma Auth Account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "notification_retry_queues",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "booking_id": "={{ $('extract booking id').first().json.booking_id }}",
            "failed_node": "={{ $prevNode.name }}",
            "error_context": "={{ $json.error_context ?? $json.error?.message ?? 'N/A' }}",
            "execution_id": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "booking_id",
              "displayName": "booking_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "failed_node",
              "displayName": "failed_node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_context",
              "displayName": "error_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        8656,
        2224
      ],
      "id": "bf21ee5a-ed77-4cb6-9cf1-895e1a6b9616",
      "name": "log error to table"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "70075ecd-0b81-4d71-8f89-76e3b3d7183f",
              "leftValue": "={{ $json.errors === undefined && $json.data.adminDoneBooking != null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7888,
        1664
      ],
      "id": "300c7d76-c577-4020-ab7b-3effb7ef1926",
      "name": "booking done ok?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "70075ecd-0b81-4d71-8f89-76e3b3d7183f",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6688,
        2032
      ],
      "id": "1591df49-2b16-48b1-b29e-a9eae56922c7",
      "name": "sheet ok?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "543062e3-06eb-4a15-b9ec-d933c2fe0668",
              "name": "error.message",
              "value": "=เข้า Googlesheet ไม่ได้: {{ $json.error?.message ?? $json.error ?? '' }}",
              "type": "string"
            },
            {
              "id": "4bab8733-c734-4c48-9d59-4f872728ea56",
              "name": "error.source_node",
              "value": "get dealer group id",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7664,
        2160
      ],
      "id": "8bf70ddc-bfc4-43f6-bfaf-747c22d240ad",
      "name": "set error (sheet)"
    },
    {
      "parameters": {
        "content": "## 🚨 คู่มือทีม Ops — ทำยังไงเมื่อมีปัญหา\n\n### เคส 1: Server down (แจ้งใน channel dev)\n\n1. เห็นแจ้งเตือน \"n8n down\" → เข้าหลังบ้าน ดู booking ที่**ยังไม่มี Done**\n2. Copy booking detail ส่งเข้า LINE group ของ dealer เอง\n3. **ส่งเสร็จ 1 ใบ → กดปุ่ม Done ทันที 1 ใบ** (ห้ามรวบไปกดทีหลัง!)\n4. ทำวนไปจนกว่า server จะกลับมา\n\n### เคส 2: Server กลับมา (bot แจ้งใน channel ops)\n\nBot จะสรุปให้ว่ามี booking ค้างกี่ใบ เลขอะไรบ้าง\n\n1. อ่านข้อความ: **operation ส่งทั้งหมดถึงเลขที่ bot ระบุ** เป็นตัวสุดท้าย\n2. Booking ใหม่หลังจากเลขนั้น → bot ส่งเอง\n3. ส่งครบแล้วไล่เช็กกับรายการในข้อความอีกรอบว่าไม่ตกหล่น\n4. อย่าลืมกด Done ทุกใบที่ส่ง\n\n### เคส 3: Error รายใบ (แจ้งใน channel error)\n\nข้อความจะบอก booking ID + node ที่พัง\n\n1. เช็กใน LINE group ว่า booking นั้นถูกส่งไปแล้วหรือยัง\n2. ยังไม่ถูกส่ง → ส่ง manual + กด Done\n3. ส่งแล้วแต่ error ตอน mark done → กด Done ในหลังบ้านอย่างเดียวพอ\n4. แจ้งทีม dev\n\n**Note:** error log table = fallback เมื่อ Slack พังเท่านั้น\n\n---\n💡 กฎเหล็กข้อเดียว: **ส่งแล้วต้องกด Done ทันที** — bot ใช้สถานะนี้ตัดสินใจว่าจะส่งซ้ำหรือไม่",
        "height": 800,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4096,
        1312
      ],
      "typeVersion": 1,
      "id": "90c0d661-1d7d-427a-905a-392175f9942e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0069412d-3397-445c-a768-0d92a48f20dd",
              "name": "max_id",
              "value": "={{ Math.max(...$('extract booking id').all().map(i => Number(i.json.booking_id))) }}",
              "type": "number"
            },
            {
              "id": "c930d5f3-7090-43d4-b54d-1321230e8f50",
              "name": "oldest_age_min",
              "value": "={{ Math.round((Date.now() - Math.min(...$('GetNewBookingGmail').all().map(i => i.json.internalDate ? Number(i.json.internalDate) : new Date(i.json.date).getTime()))) / 60000) }}",
              "type": "number"
            },
            {
              "id": "e156f744-1445-4f3f-90ad-a29ae974719c",
              "name": "is_backlog",
              "value": "={{ $('GetNewBookingGmail').all().length > 1 && (Date.now() - Math.min(...$('GetNewBookingGmail').all().map(i => i.json.internalDate ? Number(i.json.internalDate) : new Date(i.json.date).getTime()))) / 60000 > Number($('config').first().json.backlog_threshold_min) }}",
              "type": "boolean"
            },
            {
              "id": "74aa6aeb-6b16-4671-a359-451f5c9641d6",
              "name": "backlog_ids",
              "value": "={{ $('extract booking id').all().map(i => Number(i.json.booking_id)).sort((a,b) => a-b).map(v => '#'+v).join(', ') }}",
              "type": "string"
            },
            {
              "id": "01004401-9ec5-44dd-9a95-05c88e1ab99b",
              "name": "item_count",
              "value": "={{ $('GetNewBookingGmail').all().length }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4896,
        1904
      ],
      "id": "9de56038-6ffa-4116-b169-735f009f55d1",
      "name": "backlog flags"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "49af8e27-f052-4a00-b10e-a5dce0b6dd19",
              "leftValue": "={{ $json.is_backlog }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5104,
        1904
      ],
      "id": "d2c0f681-6e43-4600-9c9e-8485339b783f",
      "name": "backlog mode?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://slack.com/api/chat.postMessage",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('config').first().json.slack_ops_channel }}\",\n  \"text\": \"🟢 n8n กลับมาทำงานแล้ว — มี booking ค้าง {{ $json.item_count }} รายการ\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": { \"type\": \"plain_text\", \"text\": \"🟢 n8n กลับมาทำงานแล้ว\", \"emoji\": true }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": { \"type\": \"mrkdwn\", \"text\": \"🙏 ส่ง manual ทั้งหมด *ถึง #{{ $json.max_id }}* เป็นตัวสุดท้าย (+ กด *Done* ในหลังบ้านทุกตัวที่ส่ง)\\n🤖 Booking ใหม่หลัง #{{ $json.max_id }} bot จะส่งเองตามปกติ\" }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5344,
        1888
      ],
      "id": "15db649a-151f-461d-a6c7-bce7000f5b05",
      "name": "slack backlog alert",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "executeOnce": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "77Yr93Km4SFaBpex",
          "name": "Uptime Kuma Auth Account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0cabb407-cf3c-481d-9e2a-2c9f414d5d73",
              "leftValue": "={{ $json.data.booking.done }}",
              "rightValue": 401,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5952,
        2032
      ],
      "id": "70da8775-67d7-4f26-ac0d-6e5ab0c3d408",
      "name": "booking done?"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "environment_variables",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        4768,
        2176
      ],
      "id": "959b3eef-4b4d-4436-83d5-d016381a51bb",
      "name": "get env",
      "executeOnce": true
    }
  ],
  "pinData": {},
  "connections": {
    "GetNewBookingGmail": {
      "main": [
        [
          {
            "node": "get env",
            "type": "main",
            "index": 0
          },
          {
            "node": "extract booking id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get dealer group id": {
      "main": [
        [
          {
            "node": "sheet ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get booking detail": {
      "main": [
        [
          {
            "node": "booking done?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "booking 401?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract booking id": {
      "main": [
        [
          {
            "node": "get cached token (booking)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push to dealer line": {
      "main": [
        [
          {
            "node": "get cached token (done)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post booking done": {
      "main": [
        [
          {
            "node": "booking done ok?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "booking done 401?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get cached token (booking)": {
      "main": [
        [
          {
            "node": "get booking detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "booking detail ok?": {
      "main": [
        [
          {
            "node": "get dealer group id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set error (booking)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "booking 401?": {
      "main": [
        [
          {
            "node": "refresh token (booking)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "refresh token (booking)": {
      "main": [
        [
          {
            "node": "get cached token (booking)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set error (booking)": {
      "main": [
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get cached token (done)": {
      "main": [
        [
          {
            "node": "post booking done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "booking done 401?": {
      "main": [
        [
          {
            "node": "refresh token (done)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "refresh token (done)": {
      "main": [
        [
          {
            "node": "get cached token (done)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "group id found?": {
      "main": [
        [
          {
            "node": "push to dealer line",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set error (group id)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set error (group id)": {
      "main": [
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "slack error alert": {
      "main": [
        [],
        [
          {
            "node": "log error to table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "booking done ok?": {
      "main": [
        [],
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sheet ok?": {
      "main": [
        [
          {
            "node": "group id found?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set error (sheet)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set error (sheet)": {
      "main": [
        [
          {
            "node": "slack error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "backlog flags": {
      "main": [
        [
          {
            "node": "backlog mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "backlog mode?": {
      "main": [
        [
          {
            "node": "slack backlog alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "booking done?": {
      "main": [
        [],
        [
          {
            "node": "booking detail ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get env": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "d23f9239-7e25-4619-80b4-6472d0702984",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "f39d9f5a04967c5a7e1fde0d70b76d38727417801f6bd7952a2895c01df52c5a"
  },
  "nodeGroups": [],
  "id": "VYOi3gDUer5L9yvH",
  "tags": []
}