util-get-line-group-id.json
{
  "name": "[Util] Get Line Group ID",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dealer-line",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        112
      ],
      "id": "91a6635b-a9c5-4988-aec2-a009f346b6d5",
      "name": "GetGroupId",
      "webhookId": "179646a8-d34f-4ffb-9f04-5932ebe403a8"
    },
    {
      "parameters": {
        "url": "=https://api.line.me/v2/bot/group/{{ $json.groupId }}/summary",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "e1fa59c2-40f9-47ca-accf-db3adcfe7874",
      "name": "Get Group Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        224
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "wnEM9E2aVqJcfDpe",
          "name": "Dealer LINE OA Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('config').first().json.dealer_group_mapping_sheet_url }}",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "dealer_groups",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "group_id": "={{ $json.groupId }}",
            "group_name": "={{ $json.groupName }}",
            "registered_at": "={{ $now.setZone('Asia/Bangkok').toFormat('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "group_id",
              "displayName": "group_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "group_name",
              "displayName": "group_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "registered_at",
              "displayName": "registered_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6c3a81ad-46f1-43de-b14a-9c22a8acaff6",
      "name": "Append Mapping",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Z58mnLNDfs33OTR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replyToken: $('Extract Register Event').item.json.replyToken, messages: [{ type: 'text', text: '✅ ลงทะเบียนกลุ่มเรียบร้อย\\nกลุ่ม: ' + $('Get Group Name').item.json.groupName }] }) }}",
        "options": {}
      },
      "id": "407042bc-e309-4077-ac76-6af75860438a",
      "name": "Reply Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        224
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "wnEM9E2aVqJcfDpe",
          "name": "Dealer LINE OA Auth"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.events",
        "options": {}
      },
      "id": "b034b084-51f9-4845-b8ce-82c5852ff3f3",
      "name": "Split Out Events",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -384,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c-type",
              "leftValue": "={{ $json.type }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "message"
            },
            {
              "id": "c-msgtype",
              "leftValue": "={{ $json.message?.type }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "text"
            },
            {
              "id": "c-source",
              "leftValue": "={{ $json.source?.type }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "group"
            },
            {
              "id": "c-register",
              "leftValue": "={{ ($json.message?.text ?? '').trim() }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "#register"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f8cc85f-d55b-4658-8c40-5109121efa77",
      "name": "Filter Register Message",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -160,
        224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a-groupid",
              "name": "groupId",
              "value": "={{ $json.source.groupId }}",
              "type": "string"
            },
            {
              "id": "a-replytoken",
              "name": "replyToken",
              "value": "={{ $json.replyToken }}",
              "type": "string"
            },
            {
              "id": "a-dealercode",
              "name": "dealerCode",
              "value": "={{ $json.message.text.trim().replace(/^#register/i, '').trim() }}",
              "type": "string"
            },
            {
              "id": "a-rawtext",
              "name": "rawText",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "efb41103-1abe-41f8-b148-92b03f004978",
      "name": "Extract Register Event",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "668061ca-8602-48dd-8696-6b94cc8b12b1",
              "name": "dealer_group_mapping_sheet_url",
              "value": "={{ $('get env').all().find(r => r.json.name === 'DEALER_GROUP_MAPPING_SHEET_URL').json.value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -16
      ],
      "id": "ce91a79a-4598-42a2-89d9-562465b34298",
      "name": "config",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "environment_variables",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -384,
        -16
      ],
      "id": "be1fb36d-471b-4b3e-a3d1-4d7e01c6aa16",
      "name": "get env",
      "executeOnce": true
    }
  ],
  "pinData": {
    "GetGroupId": [
      {
        "json": {
          "headers": {
            "x-forwarded-for": "147.92.150.194, 10.250.60.153",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "host": "nonprd-n8n.drivehub.co",
            "x-amzn-trace-id": "Root=1-6a4f5973-2441272910302bdb7e6c4585",
            "content-length": "1009",
            "user-agent": "LineBotWebhook/2.0",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-host": "potbellied-leopoldo-duodenary.ngrok-free.dev",
            "x-line-signature": "lYKeaUzcuYWoB2PNruT/UyQZXb4fz1HaukIh40v57Tw=",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "destination": "U4ca42a6d063d90582a1d3bd7ca399443",
            "events": [
              {
                "type": "message",
                "message": {
                  "type": "text",
                  "id": "622021717262860411",
                  "quoteToken": "VvRxc-w1Fp4nqnRa_RBrn59Ua2t3nfOHfVtGisi9estapUjS80FH_wBllM3Xgd_3t00zKb6ICXPxlZdyX_g4TfUA6BnZTg3y6I_J3MGz6x6sNMhAmZWVDWuw8W8ruKJ2RDZeQKzvdY_28a0__tdRAQ",
                  "markAsReadToken": "W32_oUTeTq6Y4xOhiuuVh_gwqRTzXA0Df6osJv1bdgBroLSfKUtWzYonFGLBdbQ3BS_SrRrqtHofZvhGDoeeRg2um9tjmDpeAEVPfK1cgyQ8z0fOGuJBDWB4RYVLEWUK_Z-zHq8DkjmnUvZ8NZ1WcbCDLrFkfRSSi-L9teFPveWIQs2tSXyL8YINDaaznIAcYbygT5OtaQ7bZzvf9m5IJA",
                  "text": "สวัสดีครับ ขออนุญาตเพิ่มบอทเข้ามาช่วยงานครับ\n#register [DEV] C00166 Urban Car Rental"
                },
                "webhookEventId": "01KX2ZATT4P90RCFR5N9D633P6",
                "deliveryContext": {
                  "isRedelivery": false
                },
                "timestamp": 1783585139164,
                "source": {
                  "type": "group",
                  "groupId": "C6520120d8a891f69a7cf35c68d8bf220",
                  "userId": "U93d574519e5052627fa355ec42374656"
                },
                "replyToken": "f7dd107dd3e248e5b3890ee5ef9080e1",
                "mode": "active"
              }
            ]
          },
          "webhookUrl": "https://nonprd-n8n.drivehub.co/webhook/dealer-line",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Get Group Name": {
      "main": [
        [
          {
            "node": "Append Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Mapping": {
      "main": [
        [
          {
            "node": "Reply Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetGroupId": {
      "main": [
        [
          {
            "node": "get env",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Events": {
      "main": [
        [
          {
            "node": "Filter Register Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Register Message": {
      "main": [
        [
          {
            "node": "Extract Register Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Register Event": {
      "main": [
        [
          {
            "node": "Get Group Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        []
      ]
    },
    "get env": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "603c1a82-60ed-4703-bf60-5906ffbe4562",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "f39d9f5a04967c5a7e1fde0d70b76d38727417801f6bd7952a2895c01df52c5a"
  },
  "nodeGroups": [],
  "id": "zUakvzhFhwCEfeXV",
  "tags": []
}