util-get-line-group-id.json
{
  "name": "Get Line Group ID",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dealer-line",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        -16
      ],
      "id": "91a6635b-a9c5-4988-aec2-a009f346b6d5",
      "name": "GetGroupId",
      "webhookId": "179646a8-d34f-4ffb-9f04-5932ebe403a8"
    },
    {
      "parameters": {
        "url": "=https://api.line.me/v2/bot/group/{{ $json.groupId }}/summary",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "e1fa59c2-40f9-47ca-accf-db3adcfe7874",
      "name": "Get Group Name",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        -16
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "wnEM9E2aVqJcfDpe",
          "name": "LINE OA Dealer — Token (DEV)"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/149sx5IRnixX3LaPGl3m8MxxLkFS1T4F4TJOs1G9E4d0/edit?gid=0#gid=0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/149sx5IRnixX3LaPGl3m8MxxLkFS1T4F4TJOs1G9E4d0/edit?gid=0#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "group_id": "={{ $('Extract Register Event').item.json.groupId }}",
            "group_name": "={{ $json.groupName }}",
            "registered_at": "={{ $now.setZone('Asia/Bangkok').toFormat('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "group_id",
              "displayName": "group_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "group_name",
              "displayName": "group_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "registered_at",
              "displayName": "registered_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6c3a81ad-46f1-43de-b14a-9c22a8acaff6",
      "name": "Append Mapping",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        -16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2Z58mnLNDfs33OTR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replyToken: $('Extract Register Event').item.json.replyToken, messages: [{ type: 'text', text: '✅ ลงทะเบียนกลุ่มเรียบร้อย\\nกลุ่ม: ' + $('Get Group Name').item.json.groupName }] }) }}",
        "options": {}
      },
      "id": "407042bc-e309-4077-ac76-6af75860438a",
      "name": "Reply Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1184,
        -16
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "wnEM9E2aVqJcfDpe",
          "name": "LINE OA Dealer — Token (DEV)"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.events",
        "options": {}
      },
      "id": "b034b084-51f9-4845-b8ce-82c5852ff3f3",
      "name": "Split Out Events",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        48,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c-type",
              "leftValue": "={{ $json.type }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "message"
            },
            {
              "id": "c-msgtype",
              "leftValue": "={{ $json.message?.type }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "text"
            },
            {
              "id": "c-source",
              "leftValue": "={{ $json.source?.type }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "group"
            },
            {
              "id": "c-register",
              "leftValue": "={{ ($json.message?.text ?? '').trim() }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "#register"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f8cc85f-d55b-4658-8c40-5109121efa77",
      "name": "Filter Register Message",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        272,
        -16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a-groupid",
              "name": "groupId",
              "value": "={{ $json.source.groupId }}",
              "type": "string"
            },
            {
              "id": "a-replytoken",
              "name": "replyToken",
              "value": "={{ $json.replyToken }}",
              "type": "string"
            },
            {
              "id": "a-dealercode",
              "name": "dealerCode",
              "value": "={{ $json.message.text.trim().replace(/^#register/i, '').trim() }}",
              "type": "string"
            },
            {
              "id": "a-rawtext",
              "name": "rawText",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "efb41103-1abe-41f8-b148-92b03f004978",
      "name": "Extract Register Event",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -16
      ]
    }
  ],
  "pinData": {
    "GetGroupId": [
      {
        "json": {
          "headers": {
            "x-forwarded-for": "147.92.150.194, 10.250.60.153",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "host": "nonprd-n8n.drivehub.co",
            "x-amzn-trace-id": "Root=1-6a4f53ff-3a819b166533cbb15e8e303d",
            "content-length": "1009",
            "user-agent": "LineBotWebhook/2.0",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-host": "potbellied-leopoldo-duodenary.ngrok-free.dev",
            "x-line-signature": "EHhnuEyfXnQ75/mmFRT3deuSVqEGtgGmiZXIo51B3oY=",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "destination": "U4ca42a6d063d90582a1d3bd7ca399443",
            "events": [
              {
                "type": "message",
                "message": {
                  "type": "text",
                  "id": "622019375297462941",
                  "quoteToken": "z7ew7pWTbKGKBNMLO3L6YIDs35oJz8L64LUdAzXuyT-TkF5gO3TjCEMpOv2bAr4XKPDXemVHuwrZNBGjB2SIorOuUAsZLwSlbFJosERNs03ogTDsdo7WpKnCifkccTMc_dgDJqs9CUpVs5hzggznGg",
                  "markAsReadToken": "vrsGWBzA4mxE-dbmDaCqw8lLpSNUmGBolM8JMPzwUVX0juEDan4odXDvQm-rfZwciddJxcVdTj6Ml3oiFPrrOOnSdI0uD3c5F1rHEwDb1DA8kJHwaE8q1kZoidqORoiBQlj6nxbwW6DdMfQfMK9gQXDNcsrvLzz0p-qozh1ANFHPU8vEihD_3k3MHKGv5Fjah0jWo99-hCgyD85eQs4wtA",
                  "text": "สวัสดีครับ ขออนุญาตเพิ่มบอทเข้ามาช่วยงานครับ\n#register [DEV] C00166 Urban Car Rental"
                },
                "webhookEventId": "01KX2Y07C3BDMWTAKSF5ZJX36B",
                "deliveryContext": {
                  "isRedelivery": false
                },
                "timestamp": 1783583743097,
                "source": {
                  "type": "group",
                  "groupId": "C6520120d8a891f69a7cf35c68d8bf220",
                  "userId": "U93d574519e5052627fa355ec42374656"
                },
                "replyToken": "3f0c24c9b28e4b84af1a096274940660",
                "mode": "active"
              }
            ]
          },
          "webhookUrl": "https://nonprd-n8n.drivehub.co/webhook/dealer-line",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Get Group Name": {
      "main": [
        [
          {
            "node": "Append Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Mapping": {
      "main": [
        [
          {
            "node": "Reply Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetGroupId": {
      "main": [
        [
          {
            "node": "Split Out Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Events": {
      "main": [
        [
          {
            "node": "Filter Register Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Register Message": {
      "main": [
        [
          {
            "node": "Extract Register Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Register Event": {
      "main": [
        [
          {
            "node": "Get Group Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "8a59685f-1311-473d-89fa-2e6801d51857",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "instanceId": "f39d9f5a04967c5a7e1fde0d70b76d38727417801f6bd7952a2895c01df52c5a"
  },
  "nodeGroups": [],
  "id": "zUakvzhFhwCEfeXV",
  "tags": []
}