util-get-admin-token.json
{
  "name": "[Util] Get Admin Token",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "_"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        64,
        0
      ],
      "id": "5950ccff-f1da-4fb0-9536-305832567d49",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.admin_login_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.admin_email }}\",\n  \"password\": \"{{ $json.admin_password }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        0
      ],
      "id": "b361a8a1-fed1-489a-b576-a1370eb420fa",
      "name": "login",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc9792a6-9e72-4610-8c91-3ccb5b84557c",
              "name": "response",
              "value": "={{ $json.access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -16
      ],
      "id": "bacb808c-be3d-4a35-a212-609e7433a9f0",
      "name": "return token"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "cached_api_tokens",
          "mode": "name"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "credential_name",
              "keyValue": "n8n"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "access_token": "={{ $json.access_token }}",
            "refresh_token": "={{ $json.refresh_token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "provider",
              "displayName": "provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "credential_name",
              "displayName": "credential_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "login_username",
              "displayName": "login_username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "access_token",
              "displayName": "access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        928,
        -16
      ],
      "id": "8f5c177c-2c38-4cce-8c5c-513ad1d68b67",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "errorMessage": "=Login failed: {{ $json.error?.message ?? 'unknown' }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        928,
        144
      ],
      "id": "f5979f30-649c-46d3-b578-2d29906275b5",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "environment_variables",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        272,
        0
      ],
      "id": "09a6caa2-c4fe-45f4-aacd-4c844628f834",
      "name": "get env",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c444bf3b-75b2-4c93-9911-255cb39f549f",
              "name": "admin_login_url",
              "value": "={{ $('get env').all().find(r => r.json.name === 'DRIVEHUBV3_ADMIN_LOGIN_PATH').json.value }}",
              "type": "string"
            },
            {
              "id": "9d3d44b8-bab4-4175-950e-b728dda9887b",
              "name": "admin_email",
              "value": "={{ $('get env').all().find(r => r.json.name === 'ADMIN_EMAIL').json.value }}",
              "type": "string"
            },
            {
              "id": "29685317-6b43-469f-94b5-4e3051d04c34",
              "name": "admin_password",
              "value": "={{ $('get env').all().find(r => r.json.name === 'ADMIN_PASSWORD').json.value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ],
      "id": "ef78b6d6-4252-4e65-84ef-753fe8e88512",
      "name": "config",
      "executeOnce": true
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "_": "\"\""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "get env",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "login": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "return token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get env": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "827586ee-24ff-4af5-b196-90cf5fcd5175",
  "meta": {
    "instanceId": "f39d9f5a04967c5a7e1fde0d70b76d38727417801f6bd7952a2895c01df52c5a"
  },
  "nodeGroups": [],
  "id": "WV7VNLUn8KXCm7CB",
  "tags": []
}